 @font-face {
     font-family: 'Quicksand';
     src:  url('./assets/fonts/Quicksand-Regular.ttf') format('woff2'),
           url('./assets/fonts/Quicksand-Regular.ttf') format('woff');
     font-weight: 600;
     font-style: normal;
   }
  
body {
  font-family: 'Quicksand';
}

.header {
  padding:10px;
  grid-column: span 8;
  background:red;
  margin:0;
}

.container {
    font-family: 'Quicksand';
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
}

.item-a {
    /* display: grid; */
    border:solid 1px black;
    padding: 10px;
    grid-column: 3/7;
    margin-top: 50px;
  }

li button {
  float: right;
}

.item-a ul {
  padding: 0;
}


.item-a ul li {
  border: solid 1px #efefef;
  width: 95%;
  padding: 10px;
  grid-column: 3/6;
  list-style: none;
}

.nameInput {
  border:solid 1px #efefef;
  width: 95%;
  padding:10px;
}

.completed {
  text-decoration: line-through;
}

.actions {
  grid-column: 6/7;
}

button.Rec {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

button.notRec{ 
  background-color: darkred;
  width: 35px;
	height: 35px;
	font-size: 0;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

button.mainControls {
  border: none;
  background:red;
  margin:10px;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
}